[Unit]
Description=Serve proxy.pac file on localhost:8888

[Service]
ExecStart=%h/bin/proxy-pac-server %h/.config/proxy.pac 8888
Restart=always
TimeoutStopSec=1s
KillSignal=TERM

[Install]
WantedBy=multi-user.target
